---
- name: Ensure RKE2 config directory exists
  ansible.builtin.file:
    path: /etc/rancher/rke2
    state: directory
    mode: "0755"

- name: Create RKE2 agent config
  ansible.builtin.template:
    src: config.yaml.j2
    dest: /etc/rancher/rke2/config.yaml
    mode: "0600"

- name: Install RKE2 agent
  ansible.builtin.shell: |
    curl -sfL https://get.rke2.io | INSTALL_RKE2_TYPE=agent INSTALL_RKE2_CHANNEL={{ rke2_channel }} INSTALL_RKE2_VERSION={{ rke2_version }} sh -
  args:
    creates: /usr/local/bin/rke2

- name: Enable and start rke2-agent
  ansible.builtin.systemd:
    name: rke2-agent
    enabled: true
    state: started
